<!-- Clients -->
{% include i18n.html %}
<section class="py-5" id="{{ include.section | default: "clients" }}">
	<div class="container">
	  <div class="row" {% if i18ntext.clients.horizontal-scrolling == "yes" %} id="scrolling-clients" {% endif %}>
		{% for client in i18ntext.clients.list %}
		<div class="col-md-3 col-sm-6">
		  <a href="{{ client.url }}">
			<img class="img-fluid d-block mx-auto" src="{{ client.logo }}" alt="{{ client.title }}" style="max-height: {{ i18ntext.clients.max-height | default: "100px" }}">
		  </a>
		</div>
		{% endfor %}
	  </div>
	</div>
</section>