<!-- Navigation -->
{%- include i18ntext.html -%}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            {%- if site.logo -%}
            <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}"/>
            {%- else -%}
            {{ i18ntext.title }}
            {%- endif -%}
        </a>
        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            Menu<i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                {% for item in i18ntext.navigation %}
				    {%- unless item.board_on -%}{%- continue -%}{%- endunless -%}
                    {% if item.url %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ item.url }}">{{item.title}}</a></li>
                    {% elsif item.section %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#{{ item.section }}">{{item.title}}</a></li>
                    {%- endif -%}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<!-- End Navigation -->

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            {%- if i18ntext.header.title -%}
            <div class="intro-lead-in">{{ i18ntext.header.title | markdownify }}</div>
            {%- endif -%}
            {%- if i18ntext.header.text -%}
            <div class="intro-heading text-uppercase">{{ i18ntext.header.text | markdownify }}</div>
            {%- endif -%}
            {%- if i18ntext.header.button -%}
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
               href="{{ i18ntext.header.buttonlink }}">{{ i18ntext.header.button }}</a>
            {%- endif -%}
        </div>
    </div>
</header>
<!-- End Header -->