<!-- Portfolio Detail -->
{%- include i18ntext.html -%}
{%- assign md = include.md -%}
{%- assign forindex = include.index -%}
{%- assign i18ndata = i18ntext.portfolio.list | where: "itemid", md.itemid | first -%}
<div class="portfolio-modal modal fade" id="p{{ forindex }}"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
							<h2>{{ i18ndata.title }}</h2>
                            <p class="item-intro text-muted">{{ i18ndata.subtitle | markdownify }}</p>
                            <img class="img-fluid d-block mx-auto"
                                 src="{{ i18ndata.image }}" alt="{{ i18ndata.alt }}"/>
                            <p>{{ md.content }}</p>
                            <button class="btn btn-primary"
                                    data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                {{ i18ntext.portfolio.closebutton |
                                default: "Close Project" }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Portfolio Detail -->
