<!-- Portfolio Grid -->
{%- include i18ntext.html -%}
{%- assign data = include.data -%}
{%- assign forindex = include.index -%}
{%- assign i18ndata = i18ntext.portfolio.list | where: "itemid", data.itemid | first -%}
<div class="col-md-4 col-sm-6 portfolio-item">
    <a class="portfolio-link" data-toggle="modal" href="#p{{ forindex }}">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="{{ site.data.style.portfolio-icon | default: " fas fa-plus fa-3x" }}"></i>
            </div>
        </div>
        <img class="img-fluid" src="{{ i18ndata.image }}" alt="">
    </a>
    <div class="portfolio-caption">
        <h4>{{ i18ndata.title }}</h4>
        <p class="text-muted">{{ i18ndata.subtitle | markdownify }}</p>
    </div>
</div>
<!-- End Portfolio Grid -->