<!-- Skill -->
<section class="{{include.class}}" id="{{ include.section | default: "skills" }}">
	<script src="assets/js/chart.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ i18ntext.skills.title | default: "Skills" }}</h2>
                <h3 class="section-subheading text-muted">{{ i18ntext.skills.text | default: "" }}</h3>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <!--<div class="wow zoomIn col-lg-6 col-lg-offset-3">-->
            <div class="col col-lg-2"></div>
			{%- assign skill = site.data.skills.list[0]-%}
			{%- include skills_chart.html skill=skill -%}
            <div class="col col-lg-2"></div>
        </div>
    </div>
</section>