<!-- Skill Chart -->
{%- assign skill = include.skill -%}
<div class="{{skill.class}}">
	<canvas id="{{ skill.canvasid }}" width="500" height="500" ></canvas>
</div>
<script>
var ctx = document.getElementById("{{ skill.canvasid }}");
var data = {
	labels: "{{ skill.aspects }}".split(","),
	datasets: [{
		label: "{{ skill.label }}",
		backgroundColor: "{{skill.backgroundColor}}",
		borderColor: "{{skill.borderColor}}",
		pointBackgroundColor: "{{skill.pointBackgroundColor}}",
		pointBorderColor: "{{skill.pointBorderColor}}",
		pointHoverBackgroundColor: "{{skill.pointHoverBackgroundColor}}",
		pointHoverBorderColor: "{{skill.pointHoverBorderColor}}",
		data: [{{ skill.percentage }}]
		}]
};
var config = {
	type: 'radar',
	data: data,
	options: {
		scale: {
			beginAtZero: true,
			min: 0,
			max: 100,
			responsive: false,
			ticks: {beginAtZero: true, min: 0, max: 100},
			lineArc: false,
			pointLabels: {fontSize: 22},
		},
		legend: {
			display: false
		},
	}
}
var myRadarChart = new Chart(ctx, config);
</script>