<!-- Timeline -->
{% include i18ntext.html %}
<section class="bg-light page-section" id="{{ include.section | default: " timeline" }}">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ i18ntext.timeline.title | markdownify | default: "About" }}</h2>
            <h3 class="section-subheading text-muted">{{ i18ntext.timeline.text | default: "timeline"}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">
			{%- assign align = i18ntext.timeline.align | default: "left" -%}
 				
			{%- assign events = i18ntext.timeline.events | reverse -%}
            {%- for event in events -%}
				{%- if event.align -%}
				{%- assign align = event.align -%}
				{%- endif -%}
				
                {%- if align == "right" -%}
                    <li class="timeline-inverted">
                {% else %}
                    <li>
                {%- endif -%}
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="{{ event.image }}" alt="{{ event.alt | default: ""}}">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>{{ event.year | markdownify }}</h4>
                            <h4 class="subheading">{{ event.title }}</h4>
                        </div>
                        <div class="timeline-body">
                            <div class="text-muted">{{ event.desc | markdownify }}</div>
                        </div>
                    </div>
                </li>
				{%- if align == "right" -%}
					{%- assign align = "left" %}
				{%- else -%}
					{%- assign align = "right" %}
				{%- endif -%}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
</section>
<!-- End Timeline -->
